<p id="notice"><%= notice %></p>

<h1 class="text-center">Recent Posts</h1>
    
    <% @posts.each do |post| %>
      
      <div class="col-md-4">
        <div class="well">
      <div class="panel-heading text-center h2"><%= post.title %></div>
      <div class="panel-body center-block">
        <div class="img-responsive">
          <%= image_tag post.user.avatar.thumb2 %>
        </div>
      </div>
      <!-- List group -->
      <ul class="list-group">
        <li class="list-group-item text-center h3">By: <%= link_to post.user.username, user_posts_path(name: post.user.username) %> <%= image_tag post.user.avatar.thumb %></li>
        <li class="list-group-item text-center h5"><%= post.blog_entry.html_safe %></li>
        
        <li class="list-group-item "><%= link_to 'Show', post %> | <%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        <li class="list-group-item">Created on <%= post.created_at.strftime("%B %e, %Y at %l:%M") %></li>
      </ul>
    </div>
    </div>

    <% end %>

<%= paginate @posts %>

<hr>
<%= link_to 'New Post', new_post_path %>
