<!DOCTYPE html>
<html>
  <head>
    <title>TechieBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<!-- navbar -->
      <nav class="navbar navbar-inverse navbar-sticky">
        <div class="container">
          <div class="col-md-6">

          <div class="navbar-header">
            <a class="navbar-brand" href="#">TechieBlog</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><%= link_to 'Home', index_path %></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Join</a></li>
          </ul>
        </div>
        <div class="col-md-6">
<!-- welcome  -->
          
<!-- sign out -->
          
            <% if user_signed_in? %>
            <span class="text-primary">Hi, <%= current_user.username %>! </span>
            <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary" %>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-danger navbar-btn" %>
            <% end %>
          


<!-- search bar -->
          <!-- <form class="navbar-form navbar-right">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </div>
            </div>
          </form> -->
        </div>
        </div>
    </nav>



  <div class='container'>
    <!-- <div class="well"> -->
    <%= yield %>
  <!-- </div> -->
	</div>
  </body>
</html>
